@charset "UTF-8";
.noticeWrapper {
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.noticeWrapper .noticeInner {
	flex-grow: 1;
	max-width: 800px;
}
.noticeWrapper .noticeInner .noticeInner-wrapper {
	
}
.noticeWrapper .noticeInner .notice-title {
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
}
.noticeWrapper .noticeInner .notice-title-sub {
	color: gray;
	text-align: center;
}
.noticeWrapper .noticeInner .notice-tab {
	display: flex;
	margin-top: 5px;
}
.noticeWrapper .noticeInner .notice-tab input[type="radio"] {
	display: none;
}
.noticeWrapper .noticeInner .notice-tab label {
	margin-right: 3px;
	border: 1px solid rgba(17, 135, 207, 0.4);
	border-radius: 5px;
	color: rgba(17, 135, 207, 0.7);
}
.noticeWrapper .noticeInner .notice-tab label.activeNormal {
	border: 1px solid rgb(17, 135, 207);
	background-color: rgb(17, 135, 207);
	color: white;
}
.noticeWrapper .noticeInner .notice-tab label.activeEvent {
	border: 1px solid #F2CB61;
	background-color: #F2CB61;
	color: white;
}
.noticeWrapper .noticeInner .notice-content .notice-content-subject {
	margin-bottom: 7.5px;
}
.noticeWrapper .noticeInner .notice-content .notice-content-subject input[type="text"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #D5D5D5;
}
.noticeWrapper .noticeInner .notice-function {
	margin-top: 5px;
}
.noticeWrapper .noticeInner .notice-function {
	text-align: right;
}
.noticeWrapper .noticeInner .notice-function .btn-write {
	border: 1px solid rgba(17, 135, 207, 0.4);
	color: rgba(17, 135, 207, 0.7);
}
.ck-editor__editable[role='textbox'] {
	min-height: 300px;
}
@media (max-width:800px) {
	.noticeWrapper .noticeInner .noticeInner-wrapper {
		margin: 0 10px;
	}
}